body{
    margin: 0;
}


.containerRow>div{
    width: calc(50% - 1px);
}

#first{
    background-color: blue;
    flex-grow: 1.5;
}

#second{
    background-color: green;
    flex-grow: 1;
    border: solid 2px rgb(214, 183, 3);
    border-width: 0 2px 2px;
}

#purple{
    background-color: purple;
}
#red{
    background-color: red;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: rgb(1, 96, 184);
}

#fourth{
    background-color: brown;
    flex-grow: 1;
    border: solid 2px rgb(214, 183, 3);
}

.columnContainer{
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

.containerRow{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 5;
    margin: 10px 0 10px 0;
    padding: 1px;
    gap: 1px;
    background-color: rgb(214, 183, 3);
}