<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>product list </title>
</head>
<body>
<h1>la liste des produits</h1>
<div>
    <form th:action="@{/product/filter}" method="get">
        <label for="category">Catégorie:
            <select name="category" id="category">
                <option value="">Toutes</option>
                <option value="electronic">Électronique</option>
                <option value="vestments">Vêtements</option>
            </select>
        </label>
        <label for="price">Prix max:
            <input name="price" id="price" type="range" value="0" min="0" max="1000">
        </label>
        <input type="submit" value="Filtrer">
    </form>
</div>
<span th:if="${!products.isEmpty()}">
    <div th:each="p : ${products}">
        <a th:href="@{/product/{id}(id=${p.getUuid()})}"> <span th:text="${p.getName()}"></span></a>
    </div>

</span>
<span th:if="${products.isEmpty()}"> aucun produits disponibles.</span>


</body>
</html>